.container {
  height: auto;
  overflow: hidden;
}

.right {
  float: none;
  width: auto;
  background: #aafed6;
}

.left {
  float: left; /* not needed, just for clarification */
  background: #e0e0e2;
  /* the next props are meant to keep this block independent from the other floated one */
  width: 380px;
  /*overflow: hidden;*/
}
